* {
  font-family: sans-serif;
}
ul {
  flex-direction: column-reverse;
  display: flex;
}
li {
  list-style:none;
  font-size: 28px;
  padding: 5px;
}
a {
  text-decoration: none;
  color: black;
}
.error {
border: 2px solid red;
border-radius: 4px;
}
input {
border: 0;
outline: none;
border: 2px solid gray;
border-radius: 4px;
background: #FDFEFE;
}
.dineroD {
  background: #7FB3D5;
  display: block;
  padding: 15px;
}
.dinero__tus_dolares {
  margin-top: 5px;
}
.dinero__precio_dolar {
  margin-top: 5px;
}
.boton__confirmar {
  margin-top: 5px;
}
.dinero__tus_bolivares {
  padding: 15px;
}
/* .input__texto {

  display:flex;
} */
.bs {
      font-size: 28px;
      margin: 0px;
      font-weight: bold;
    }
.teResta{
  margin:0px;
}
